#big{
    margin-top: 9vh;
    margin-left: 2%;
}
#group{
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
}
#search{

    margin-top: 1vh;
    margin-left: 10%;
    color: grey;
    padding-left: 15px;
}
#rightside{
    height:90vh ;
    background-color:rgb(181, 189, 170)
}